<div class='container search'>
    <form action='/artist-search' method="GET">
        <input class='text-input' type='text' name='artist'>
        <input class='btn' type='submit' value='Search for an Artist'>
    </form>
</div>